<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Ministries</title>
	<link rel="stylesheet" href="./../dist/styles.css" type="text/css">
	<link rel="stylesheet" href="https://use.typekit.net/dfg8lqw.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="./../dist/main.js"></script>
</head>
<body>
	<header class="navigation">
		<div class="nav-left">
			<a>
				<span class="heading-primary heading-primary--main">Bible </span>
				<span class="heading-primary heading-primary--sub">Baptist </span>
				<span class="heading-primary heading-primary--main">Church</span>
			</a>
		</div>
		<div class="nav-right">
			<span class="heading-secondary heading-secondary--main"><a href="./home.html">Home</a></span>
			<span class="heading-secondary heading-secondary--main"><a href="./visit_us.html">Visit Us</a></span>
			<span class="heading-secondary heading-secondary--main"><a href="./ministries.html">Ministries</a></span>
			<span class="heading-secondary heading-secondary--main"><a href="#">Announcements</a></span>
			<span class="heading-secondary heading-secondary--main"><a href="#">About</a></span>
			<span class="heading-secondary heading-secondary--main"><a href="#">Contact</a></span>
		</div>
	</header>
	<main class="ministries">
		<section class="banner">
			<div class="banner-image_ministries"></div>
			<div class="banner-title">
				<h1 class="heading-primary heading-primary--main">Minisitries</h1>
			</div>
		</section>
		<section class="programs">
			<div class="programs-card">
				<div class="program-panel-left">
					<div class="program-title">
						<h1 class="heading-primary heading-primary--main">Kids & Nursery</h1>
						<h1 class="heading-primary heading-primary--sub">Loving nursery workers provide a clean and safe environment for your little ones from newborn to 4 years old as you enjoy a dynamic worship service or a Life Connections class. Every child, from kindergarten to grade 5, will experience a class where they will learn fun songs, memorize Bible verses, and apply Bible truths.</h1>
					</div>
				</div>
				<div class="program-panel-right">
					<div class="program-image"></div>
				</div>
			</div>
			<div class="programs-card">
				<div class="program-panel-left">
					<div class="program-title">
						<h1 class="heading-primary heading-primary--main">Youth Group</h1>
						<h1 class="heading-primary heading-primary--sub">At Bible Baptist, we strive to direct teenagers in discovering and following God's will by helping them develop a personal relationship with God, to ocnnect with other teenagers in a God-honoring atmosphere of acceptance, and to reach out to others with the life-changing truths of God's Word.</h1>
					</div>
				</div>
				<div class="program-panel-right">
					<div class="program-image"></div>
				</div>
			</div>
			<div class="programs-card">
				<div class="program-panel-left">
					<div class="program-title">
						<h1 class="heading-primary heading-primary--main">Life Connections</h1>
						<h1 class="heading-primary heading-primary--sub">Our Life Connections Bible classes are a place where you can connect with friends, learn about the Bible, and get involved. There's a class and a seat waiting for you! Please stay fo donuts & coffee after the 9:30 AM service, and we can help you to a small group class that is right for you.</h1>
					</div>
				</div>
				<div class="program-panel-right">
					<div class="program-image"></div>
				</div>
			</div>
			<div class="programs-card">
				<div class="program-panel-left">
					<div class="program-title">
						<h1 class="heading-primary heading-primary--main">Spanish Service</h1>
						<h1 class="heading-primary heading-primary--sub">We have services for the Spanish speaking people every Sunday and Wednesday. Service times are as follows:</h1>
						<h1 class="program-time heading-primary heading-primary--sub">Sunday Worship Service: 1:00 PM</h1>
						<h1 class="program-time heading-primary heading-primary--sub">Sunday Evening Service: 7:00 PM</h1>
						<h1 class="program-time heading-primary heading-primary--sub">Wednesday Prayer Service: 7:30 PM</h1>
					</div>
				</div>
				<div class="program-panel-right">
					<div class="program-image"></div>
				</div>
			</div>
			<div class="programs-card">
				<div class="program-panel-left">
					<div class="program-title">
						<h1 class="heading-primary heading-primary--main">Korean Service</h1>
						<h1 class="heading-primary heading-primary--sub">We have services for the Korean speaking people every Sunday and Wednesday. Service times are as follows:</h1>
						<h1 class="program-time heading-primary heading-primary--sub">Sunday Worship Service: 11:00 AM</h1>
						<h1 class="program-time heading-primary heading-primary--sub">Sunday Evening Service: 3:00 PM</h1>
						<h1 class="program-time heading-primary heading-primary--sub">Wednesday Prayer Service: 7:30 PM</h1>
					</div>
				</div>
				<div class="program-panel-right">
					<div class="program-image"></div>
				</div>
			</div>
		</section>
	</main>
	<footer class="footer">
		<div class="footer-top">
			<div class="footer-contact">
				<h1 class="heading-primary heading-primary--main">
					Contact Us
				</h1>
				<h1 class="heading-primary heading-primary--sub">
					Office: +1(310) 538-5748
				</h1>
				<h1 class="heading-primary heading-primary--sub">
					Email: info@southbaybbc.org
				</h1>	
			</div>
			<div class="footer-logo">
				<ul class="footer-social">
					<li class="fa fa-facebook-square"></li>
					<li class="fa fa-instagram"></li>
					<li class="fa fa-youtube-play"></li>
					<li class="fa fa-linkedin-square"></li>
					<li class="fa fa-twitter"></li>
				</ul>
			</div>
		</div>
		<div class="footer-bottom">
			<h1 class="heading-primary heading-primary--main">
				&copy;2019 Bible Baptist Church
			</h1>
		</div>
	</footer>
</body>
</html>