<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Visit Us</title>
	<link rel="stylesheet" href="./../dist/styles.css" type="text/css">
	<link rel="stylesheet" href="https://use.typekit.net/dfg8lqw.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="./../dist/main.js"></script>
</head>
<body>
	<header class="navigation">
		<div class="nav-left">
			<a>
				<span class="heading-primary heading-primary--main">Bible </span>
				<span class="heading-primary heading-primary--sub">Baptist </span>
				<span class="heading-primary heading-primary--main">Church</span>
			</a>
		</div>
		<div class="nav-right">
			<div class="navigation-collapse">
				<input type="checkbox" class="navigation-checkbox" id="navigation-toggle">
				<label for="navigation-toggle" class="navigation-button">
					<span class="navigation-icon"></span>
				</label>
				<ul class="navigation-menu">
					<li class="navigation-menu__item">
						<a href="./home.html">
							<span class="heading-secondary heading-secondary--main">Home</span>
						</a>
					</li>
					<li class="navigation-menu__item">
						<a href="./visit_us.html">
							<span class="heading-secondary heading-secondary--main">Visit Us</span>
						</a>
					</li>
					<li class="navigation-menu__item">
						<a href="./ministries.html">
							<span class="heading-secondary heading-secondary--main">Ministries</span>
						</a>
					</li>
					<li class="navigation-menu__item">
						<a href="#">
							<span class="heading-secondary heading-secondary--main">Announcements</span>
						</a>
					</li>
					<li class="navigation-menu__item">
						<a href="#">
							<span class="heading-secondary heading-secondary--main">About</span>
						</a>
					</li>
					<li class="navigation-menu__item">
						<a href="#">
							<span class="heading-secondary heading-secondary--main">Contact</span>
						</a>
					</li>
				</ul>
			</div>
			<!-- <span class="heading-secondary heading-secondary--main"><a href="./public/views/home.html">Home</a></span>
			<span class="heading-secondary heading-secondary--main"><a href="./public/views/visit_us.html">Visit Us</a></span>
			<span class="heading-secondary heading-secondary--main"><a href="./public/views/ministries.html">Ministries</a></span>
			<span class="heading-secondary heading-secondary--main"><a href="#">Announcements</a></span>
			<span class="heading-secondary heading-secondary--main"><a href="#">About</a></span>
			<span class="heading-secondary heading-secondary--main"><a href="#">Contact</a></span> -->
		</div>
	</header>
	<main class="visit_us">
		<section class="banner">
			<div class="banner-image_visit-us"></div>
			<div class="banner-title">
				<h1 class="heading-primary heading-primary--main">Visit Us</h1>
			</div>
		</section>
		<section class="service">
			<div class="service-title">
				<h1 class="heading-primary heading-primary--sub">Service Times</h1>
			</div>
			<div class="service-days">
				<div class="service-day service-day_wednesday">
					<h1 class="heading-primary heading-primary--main">Wednesdays</h1>
					<div class="service-activities">
						<div class="service-activity">
							<div class="service-activity_caption">
								<h1 class="heading-primary heading-primary--main">Midweek Service</h1>
								<h1 class="heading-primary heading-primary--sub">7:30 PM</h1>
							</div>
							<div class="service-activity_image service-activity_image--one"></div>
						</div>
					</div>
				</div>
				<div class="service-day service-day_sunday">
					<h1 class="heading-primary heading-primary--main">Sundays</h1>
					<div class="service-activities">
						<div class="service-activity">
							<div class="service-activity_caption">
								<h1 class="heading-primary heading-primary--main">Worship Service</h1>
								<h1 class="heading-primary heading-primary--sub">9:30 AM</h1>
							</div>
							<div class="service-activity_image service-activity_image--two"></div>
						</div>
						<div class="service-activity">
							<div class="service-activity_caption">
								<h1 class="heading-primary heading-primary--main">Life Connection Bible Class</h1>
								<h1 class="heading-primary heading-primary--sub">11:00 AM</h1>
							</div>
							<div class="service-activity_image service-activity_image--three"></div>
						</div>	
						<div class="service-activity">
							<div class="service-activity_caption">
								<h1 class="heading-primary heading-primary--main">Evening Service</h1>
								<h1 class="heading-primary heading-primary--sub">5:00 PM</h1>
							</div>
							<div class="service-activity_image service-activity_image--four"></div>
						</div>	
					</div>
				</div>
			</div>
		</section>
		<section class="directions">
			<div class="directions-title">
				<h1 class="heading-primary heading-primary--sub">Getting Here</h1>
			</div>
			<div class="directions-location">
				<div class="directions-address">
					<h1 class="heading-primary heading-primary--main">17120 S. Normandie Ave.</h1>
					<h1 class="heading-primary heading-primary--main">Gardena, CA 90247</h1>
					<div class="location-map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.5990412280235!2d-118.30110798448304!3d33.874222834537164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2ca9e04d203eb%3A0x48e03d5d155e525a!2s17210%20Normandie%20Ave%2C%20Gardena%2C%20CA%2090247!5e0!3m2!1sko!2sus!4v1568025033623!5m2!1sko!2sus&z=7" width="700" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
					</div>
				</div>
				<div class="directions-photos">
					<div class="directions-photo-container">
						<div class="directions-photo directions-photo--two"></div>
						<div class="directions-photo directions-photo--one"></div>
						<div class="directions-photo directions-photo--three"></div>
					</div>
					<div class="directions-photos-description">
						<h1 class="heading-primary heading-primary--main">We are located near the intersection between Artesia Blvd & Normandie Ave next to Sam's Club.</h1>
					</div>
				</div>
			</div>
			<div class="directions-amenities">
				<div class="directions-nursery">
					<div class="directions-photo-container">
						<div class="directions-photo directions-photo--two"></div>
						<div class="directions-photo directions-photo--one"></div>
						<div class="directions-photo directions-photo--three"></div>
					</div>
					<div class="directions-photos-description">
						<h1 class="heading-primary heading-primary--main">We have nursery and bible classes for infants and toddlers run by caring teachers so that adults can freely attend services.</h1>
					</div>
				</div>
				<div class="directions-parking">
					<h1 class="heading-primary heading-primary--main">Parking Information</h1>
					<div class="directions-parking_map"></div>
				</div>
			</div>
		</section>
	</main>
	<footer class="footer">
		<div class="footer-top">
			<div class="footer-contact">
				<h1 class="heading-primary heading-primary--main">
					Contact Us
				</h1>
				<h1 class="heading-primary heading-primary--sub">
					Office: +1(310) 538-5748
				</h1>
				<h1 class="heading-primary heading-primary--sub">
					Email: info@southbaybbc.org
				</h1>	
			</div>
			<div class="footer-logo">
				<ul class="footer-social">
					<li class="fa fa-facebook-square"></li>
					<li class="fa fa-instagram"></li>
					<li class="fa fa-youtube-play"></li>
					<li class="fa fa-linkedin-square"></li>
					<li class="fa fa-twitter"></li>
				</ul>
			</div>
		</div>
		<div class="footer-bottom">
			<h1 class="heading-primary heading-primary--main">
				&copy;2019 Bible Baptist Church
			</h1>
		</div>
	</footer>
</body>
</html>