.navigation {
	padding: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	right: 0;
	left: 0;
	transition: background-color .2s, padding .2s;
	z-index:100;

	@include respond(big-desktop) {
		padding: 2rem;
	}

	.nav-left {
		.heading-primary {
			font-size: 3.5rem;
			text-transform: uppercase;
		}
	}
	.nav-right {
		.heading-secondary {
			font-size: 2rem;
			text-transform: uppercase;
			margin: 0 1rem;
			cursor: pointer;
		}
	}
}

.navigation.navigation-toggle {
	background-color: var(--bbc-white);
	padding: 2rem;
}