.banner {
	position: relative;
	&-image_visit-us {
		background-image: url('./../../image_compressed/sarah-noltner-F5-Z1H7lJaA-unsplash__1572151376_104.175.221.52.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 40vh;
		display: flex;
		align-items: center;
		opacity: .5;	
	}

	&-image_ministries {
		background-image: url('./../../image_compressed/anna-earl-XBDHmIXvsvM-unsplash__1572151266_104.175.221.52.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 40vh;
		display: flex;
		align-items: center;
		opacity: .5;	
	}

	&-title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		.heading-primary {
			font-size: $font-m;
		}
	}
}