.join {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5rem;
	&-title-one {
		width: 50rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		.heading-primary {
			font-size: $font-m;
		}
		.button {
			width: 20rem;
			margin-top: 2rem;
		}
	}
	.location {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 5rem;
		width: 100%;
		&-title-one {
			display: flex;
			flex: 1;
			flex-direction: column;
			text-align: center;
			margin-left: -5rem;
			.heading-primary {
				font-size: $font-m;
			}
			.address {
				margin-top: 3rem;
				.heading-primary {
					font-size: $font-s;
				}
			}
		}
		&-map {
			flex:1;
		}
	}
}