$font-primary: open-sans;
$font-secondary: muli;
$bold: 700;
$regular: 400;
$light: 300;

$font-l: 4.5rem;
$font-m: 3.5rem;
$font-s: 1.6rem;

.heading-primary {
	color: var(--bbc-black);
	&--main {
		font-family: $font-primary, helvetica, arial, sans-serif;
		font-weight: $bold;
		text-transform: uppercase;
	}
	&--sub {
		font-family: $font-primary, helvetica, arial, sans-serif;
		font-weight: $regular;
	}
}

.heading-secondary {
	color: var(--bbc-black);
	&--main {
		font-family: $font-secondary, helvetica, arial, sans-serif;
		font-weight: $bold;
	}
	&--sub {
		font-family: $font-secondary, helvetica, arial, sans-serif;
		font-weight: $regular;
	}
}

.paragraph {
	color: var(--bbc-black);
	font-family: $font-primary, helvetica, arial, sans-serif;
	font-weight: $regular;
}